<div data-control="toolbar">
    <a
        href="<?= Backend::url('monologophobia/restaurant/menus') ?>"
        class="btn btn-warning oc-icon-chevron-left">Back to Menus</a>

    <a
        href="<?= Backend::url('monologophobia/restaurant/dietaryinformation/create/') ?>"
        class="btn btn-primary oc-icon-plus"><?= e(trans('monologophobia.restaurant::lang.misc.create')); ?></a>

    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('monologophobia.restaurant::lang.misc.confirm_delete')); ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', false)"
        data-stripe-load-indicator>
        <?= e(trans('monologophobia.restaurant::lang.misc.delete')); ?>
    </button>

</div>
