{% if booking %}
    {% partial '@show' %}
{% else %}
    <form method="POST" data-request="onSubmitCode" data-request-error="showError(jqXHR)" id="booking-code">
        <h1>Please enter your booking code</h1>
        <div class="error"></div>
        <input type="text" name="code" required />
        <button type="submit" class="button">Submit</button>
    </form>
    <script>
    function showError(data) {
        document.querySelector('.error').innerHTML =data.responseJSON.code;
    }
    </script>
{% endif %}