<section class="menu" itemscope itemtype="http://schema.org/MenuSection">

    <div class="inner">

        <h2 itemprop="name">{{ menu.name }}</h2>

        {% if menu.preamble %}
            <header class="preamble" itemprop="description">
                {{ menu.preamble|raw }}
            </header>
        {% endif %}

        {% if menu.items %}
            {% if menu.items|length > 0 %}
                <div class="content">
                    {% for content in menu.items %}
                        <div class="item" data-diet='[
                            {% for dietary in content.dietary_information %}
                                "{{ dietary|replace({'"': ''}) }}"{% if not loop.last %}, {% endif %}
                            {% endfor %}
                            ]'
                            data-id="{{ content.id }}">
                            <div class="title">
                                <span class="name">
                                    {% if checkout %}<a href="#" data-request="onAddToCart" data-request-data="id: {{ content.id }}">{{ content.name }}</a>{% else %}{{ content.name }}{% endif %}
                                    {% for dietary in content.dietary_information %}
                                        {% if dietary == 'Vegetarian' %}<span title="Vegetarian">V</span>{% endif %}
                                        {% if dietary == 'Vegan' %}<span title="Vegan">Ve</span>{% endif %}
                                        {% if dietary == 'Gluten Free' %}<span title="Gluten Free">G</span>{% endif %}
                                        {% if dietary == 'No Nuts' %}<span title="Gluten Free">Nn</span>{% endif %}
                                    {% endfor %}
                                </span>
                                {% if content.price %}<span class="price">£{{ content.price }}</span>{% endif %}
                            </div>
                            {% if content.description %}
                                <div class="description">
                                    {{ content.description|raw }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}

        {% if menu.footer %}
            <footer class="menu-footer">
                {{ menu.footer|raw }}
            </footer>
        {% endif %}

        {% if menu.pdf %}
            <p><a href="{{ menu.pdf.getPath() }}" title="Download {{ menu.name }}" class="button" download>Download {{ menu.name }}</a></p>
        {% endif %}

        <p class="updated">Last Updated: {{ menu.updated_at|date('l dS F y H:i') }}</p>
    </div>

</section>
