<section id="menus">
    <div class="menu-navigation">
        <ul class="categories">
            {% for category in categories %}
                <li><a href="#menu-{{ category.id }}" title="{{ category.name }}" class="menu-category-tab{% if loop.first %} active{% endif %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        <form id="dietary-requirements">
            {% for dietary in dietary_information %}
                <label><input name="diet" value="{{ dietary|replace({'"': ''}) }}" /> {{ dietary }}</label>
            {% endfor %}
        </form>
    </div>
    {% for category in categories %}
        <div class="menu-category{% if loop.first %} active{% endif %}" id="menu-{{ category.id }}">
            {% if category.image %}<img src="{{ category.image.getPath() }}" alt="{{ category.name }}" class="background" />{% endif %}
            <div>
                {% for menu in category.menus %}
                    {% partial '@menu' menu=menu %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</section>