{% set total = 0 %}
{% set items = 0 %}

{% for item in cart %}
    {% set items = items + 1 %}
    {% set total = total + item.price %}
{% endfor %}

<section id="cart-totals">
    {{ items }} - £{{ total }}
</section>

<section id="cart-items">
    {% for item in cart %}
        {{ item.name }}
    {% endfor %}
</section>

<a href="{{ checkout_page }}" title="Checkout" class="button">Checkout</a>
