<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('monologophobia/restaurant/bookings') ?>"><?= Lang::get('monologophobia.restaurant::lang.fields.bookings'); ?></a></li>
        <li><?= Lang::get('monologophobia.restaurant::lang.fields.bookings'); ?></li>
    </ul>
<?php Block::endPut() ?>

<?= Form::open(['class'=>'layout']) ?>

    <div class="layout-row">
        <?= $this->formRender() ?>
    </div>

    <div class="form-buttons">
        <div class="loading-indicator-container">
            <button
                type="button"
                data-request="onSave"
                data-request-data="close:true"
                data-hotkey="ctrl+enter, cmd+enter"
                data-load-indicator="<?= Lang::get('monologophobia.restaurant::lang.misc.saving'); ?>"
                class="btn btn-default">
                <?= Lang::get('monologophobia.restaurant::lang.misc.save_and_close'); ?>
            </button>
            <span class="btn-text">
                or <a href="<?= Backend::url('monologophobia/restaurant/bookings') ?>">Cancel</a>
            </span>
        </div>
    </div>

<?= Form::close() ?>
