<form class="grid" id="checkout">
    <div class="in-view">
        <ul>
            {% set total = 0 %}
            {% for item in cart %}
                <li>{{ item.name }} £{{ item.price }} <small><a href="#" data-request="onRemoveFromCart" data-request-data="id: {{ item.id }}">(remove)</a></small></li>
                {% set total = total + item.price %}
            {% endfor %}
        </ul>
    </div>
    <div class="in-view">
        <div id="booking">
            <legend>Total: <strong>£{{ total }}</strong></legend>
            <label>Table</label>
            <select name="table_id" required>
                <option value="">Select a Table</option>
                {% for table in tables %}
                    <option value="{{ table.id }}">{{ table.name }}</option>
                {% endfor %}
            </select>
            <div id="payment-element">
                <label for="card-element">Credit or debit card</label>
                <div id="card-element"></div>
                <div id="card-errors" role="alert"></div>
            </div>
            <button type="submit">Pay</button>
        </div>

    </div>
</form>

{% put scripts %}
<script>

var form         = document.getElementById('checkout');
var stripe_key   = "{{ stripe_key }}";
var ajax_handler = 'onComplete';
var card_element = '#checkout #card-element';
var card_errors  = '#checkout #card-errors';
var payment_options = {'locale': 'auto'};

form.addEventListener('submit', function(event) {

    event.preventDefault();

    handleStripePayment(form);

});

var stripe = Stripe(stripe_key, payment_options);
var elements = stripe.elements();

var style = {
    base: {
        fontSize: '14px',
        lineHeight: '24px'
    }
};

function showError(message) {
    var displayError = document.querySelector(card_errors);
    var form = displayError;
    while (true) {
        if (form.tagName == 'FORM') break;
        form = form.parentNode;
    }
    form.classList.remove('submitting');
    displayError.textContent = '';
    if (message) displayError.textContent = message;
}

var card = elements.create('card', {style: style});
card.mount(card_element);

card.addEventListener('change', function(event) {
    showError(false);
    if (event.error) showError(event.error.message);
});

function handleStripePayment(form, billing_details) {

    if (form.classList.contains('submitting')) return false;

    form.classList.add('submitting');

    var payment_method_element = createHiddenInput(form, 'payment_method_id');

    stripe.createPaymentMethod('card', card, {
        billing_details: billing_details
    }).then(function(result) {
        if (result.error) {
            showError(result.error.message);
        }
        else {
            payment_method_element.value = result.paymentMethod.id;
            $(form).request(ajax_handler, {
                complete: function(response) {
                    handleOnCompleteResponse(response);
                }
            })
        }
    });

}

function handleOnCompleteResponse(response) {
    if (response.status != 200) {
        showError(response.statusText);
    }
    var data = response.responseJSON;
    if (data.error) {
        showError(data.message);
    }
    // If this isn't a straightforward success
    else if (!data.X_OCTOBER_REDIRECT) {
        handleServerResponse(form, data);
    }
}

function handleServerResponse(form, data) {

    if (data.error) {
        showError(data.error);
        return;
    }

    // default method is handleCardPayment
    // This is used if 3d secure is required and it's an immediate payment (PaymentIntent)
    var method = "handleCardPayment";
    // If we're passed a setup_intent, that means we have a deferred payment
    // We need to process authorisation while the customer is onsite
    // otherwise we'll have to send them an email asking for verification later
    // so best to do it now
    if (data.setup_intent) {
        // the method for setup_intents is this
        method = "handleCardSetup";
    }

    // 3d secure trigger
    if (data.requires_action) {

        // Use Stripe.js to handle required card action
        stripe[method](
            data.payment_intent_client_secret
        ).then(function(result) {
            if (result.error) {
                showError(result.error.message);
            }
            else {

                if (data.subscription) {
                    var subscription_element   = createHiddenInput(form, 'subscription_id');
                    subscription_element.value = data.subscription.id; 
                }

                if (result.paymentIntent) {
                    var intent_element   = createHiddenInput(form, 'payment_intent_id');
                    intent_element.value = result.paymentIntent.id;
                }

                if (result.setupIntent) {
                    var intent_element   = createHiddenInput(form, 'setup_intent_id');
                    intent_element.value = result.setupIntent.id;
                }

                $(form).request(ajax_handler, {
                    complete: function(response) {
                        handleOnCompleteResponse(response);
                    }
                });

            }
        });
    }
    else {
        showError('Something went wrong. Please try again later.');
    }

}

function createHiddenInput(form, name) {
    var element = form.querySelector('input[name="' + name + '"]');
    if (!element) {
        var e  = document.createElement('input')
        e.name = name;
        e.type = 'hidden';
        form.appendChild(e);
        element = form.querySelector('input[name="' + name + '"]');
    }
    return element;
}

</script>
{% endput %}