{% set your_total = order.total %}
{% set other_total = 0 %}

<div id="complex-checkout">
    <h1 class="checkout">Booking Orders</h1>
    <div class="grid" id="complex-details">
        {% partial '@details' %}
    </div>
</div>

<script src="https://js.pusher.com/6.0/pusher.min.js"></script>
<script>
var order_id   = {{ order.id }};
var booking_id = {{ order.booking.id }};

// Enable pusher logging - don't include this in production
Pusher.logToConsole = true;

var pusher = new Pusher("{{ pusher_key }}", {
    cluster: 'eu'
});

var booking = pusher.subscribe('bookings');
booking.bind('order-created', function(data) {
    if (data && data == booking_id) {
        $.request('onUpdate', { data: {'order_id': order_id} });
    }
});

booking.bind('order-updated', function(data) {
    if (data && data == booking_id) {
        $.request('onUpdate', { data: {'order_id': order_id} });    
    }
});
</script>