<div>
    <div id="order" class="details" data-id="{{ o.id }}">
        <h2>Your order is <span class="status">{{ order.status }}</span></h2>
        <h4>{{ order.created_at }}</h4>
        <ul>
            {% for item in order.getItems() %}
                <li>{{ item.name }} - £{{ item.price }}</li>
            {% endfor %}
        </ul>
        <div class="totals">
            <p>Total: £{{ order.total|number_format(2) }}</p>
        </div>
    </div>
    <div id="past" class="details">
        <h2>Your Past Orders</h2>
        {% for o in historical %}
            <div data-id="{{ o.id }}">
                <h4><span class="status">{{ o.status }}</span><br />{{ o.created_at }}</h4>
                <ul>
                    {% for item in o.getItems() %}
                        <li>{{ item.name }} - £{{ item.price }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% set your_total = your_total + o.total %}
        {% endfor %}
        <div class="totals">
            <p>Total: £{{ (your_total - order.total)|number_format(2) }}</p>
        </div>
    </div>
    <div id="others">
        <h2>Other People's Orders</h2>
        <div class="orders">
            {% for o in others %}
                <div data-id="{{ o.id }}">
                    <h4><span class="status">{{ o.status }}</span><br />{{ o.created_at }}</h4>
                    <ul>
                        {% for item in o.getItems() %}
                            <li>{{ item.name }} - £{{ item.price }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% set other_total = other_total + o.total %}
            {% endfor %}
        </div>
        <div class="totals">
            <p>Total: £<span class="other-total">{{ other_total|number_format(2) }}</span></p>
        </div>
    </div>
</div>
<div id="totals">
    <legend>Totals</legend>
    Booking Total: <h2>£{{ (your_total + other_total)|number_format(2) }}</h2>
    Your Total: <h2>£{{ your_total|number_format(2) }}</h2>
    <p><a href="/" title="New Order">New Order</a></p>
</div>