<div class="grid" id="order">
    <div>
        <h2>Your order is <span class="status">{{ order.getStatusOptions()[order.status] }}</span></h2>
        <p>Leave this page open for feedback from the kitchen</p>
    </div>
    <div>
        <div id="booking">
            <legend>Total: <strong>£{{ order.total }}</strong></legend>
            <ul>
                {% for item in order.getItems() %}
                    <li>{{ item.name }} £{{ item.price }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script src="https://js.pusher.com/6.0/pusher.min.js"></script>
<script>
var order_id = {{ order.id }};

// Enable pusher logging - don't include this in production
Pusher.logToConsole = true;

var pusher = new Pusher("{{ pusher_key }}", {
    cluster: 'eu'
});

var channel = pusher.subscribe('orders');
channel.bind('updated', function(data) {
    if (data && data == order_id) {
        $.request('onUpdateStatus', {
            data: {'order_id' : order_id},
            success: function(result) {
                document.querySelector('#order .status').innerHTML = result.status;
            }
        });
    }
});
</script>