.menu-category {
    display: none;
    position: relative;
}

.menu-category.active {
    display: block;
}

.menu-category img.background {
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.menu {
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 1px 1.5rem;
    color: #333333;
    padding: 2.5rem;
    text-align: center;
    max-width: 45rem;
}

.menu .inner {
    background-color: #fafafa;
    padding: 5rem;
    border: 0.25rem #0079BF solid;
    min-height: calc(100% - 10rem);
}

.menu .inner > h2:first-child {
    margin-top: 0;
    text-shadow: #ffffff 1px 1px, #0079bf 2px 2px;
    border-bottom: 0.1rem #0079Bf solid;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding-bottom: 1.5rem;
}

.menu .content {
    margin: 2.5rem 0;
}

.menu .content .item {
    text-align: left;
    margin-bottom: 0.5rem;
}

.menu .content .item:last-child {
    margin-bottom: 0;
}

.menu .content .title {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 5rem;
    text-transform: uppercase;
    border-bottom: rgba(0, 0, 0, 0.1) dotted 1px;
    padding-bottom: 0.25rem;
}

.menu .content .title .name span {
    font-size: 0.5rem;
    vertical-align: top;
    margin-right: 0.25rem;
    display: inline-block;
}

.menu .item.hidden {
    display: none;
}

.menu .content .item .price {
    text-align: right;
}

.menu .content .description p:first-child {
    margin-top: 0.25rem;
}

.menu .updated {
    margin-bottom: 0;
    font-size: 0.5rem;
}

.menu .dietary span {
    font-size: 0.5rem;
    display: inline-block;
    border: rgba(0, 0, 0, 0.1) 1px solid;
    border-radius: 100%;
    padding: 0.5rem;
    text-align: center;
    max-width: 1rem;
    min-width: 0.75rem;
    vertical-align: middle;
}

@media (max-width: 650px) {
    .menu .inner {
        padding: 2.5rem;
        min-height: calc(100% - 5rem);
    }
}

@media (max-width: 450px) {
    .menu, .menu .inner {
        padding: 1.5rem;
    }
    .menu .inner {
        min-height: calc(100% - 3rem);
    }
}