<div data-control="toolbar">

    <a
        href="<?= Backend::url('monologophobia/restaurant/orders/live/') ?>"
        class="btn btn-primary oc-icon-chevron-left">Back to Live Orders</a>

    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('monologophobia.restaurant::lang.misc.confirm_delete')); ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', false)"
        data-stripe-load-indicator>
        <?= e(trans('monologophobia.restaurant::lang.misc.delete')); ?>
    </button>

    <div class="btn-group dropdown dropdown-fixed" data-control="bulk-actions">
        <button
            data-primary-button
            type="button"
            class="btn btn-default"
            data-request="onUpdateStatus"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', true).next().prop('disabled', true)"
            data-stripe-load-indicator>
            Update Status
        </button>
        <button
            type="button"
            class="btn btn-default dropdown-toggle"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" data-dropdown-title="Update Status">
            <?php foreach ($statuses as $key => $value) { ?>
                <li>
                    <a href="javascript:;" data-action="<?= $key; ?>>">
                        <?= $value; ?>
                    </a>
                </li>
                <li role="separator" class="divider"></li>
            <?php } ?>
        </ul>
    </div>

</div>