<div data-control="toolbar">
    <a
        href="<?= Backend::url('monologophobia/restaurant/orders') ?>"
        class="btn btn-primary oc-icon-list">View all Orders</a>
</div>

<div id="orders">
    <?php foreach ($bookings as $booking) { ?>
        <div class="booking" data-bookingid="<?= $booking->id; ?>">
            <h3><?= $booking->name; ?> - <?= $booking->order_table->name; ?></h3>
            <div class="grid">
                <?php foreach ($booking->orders as $order) { ?>
                    <?php if ($order->status == 4) continue; ?>
                    <div class="order" data-orderid="<?= $order->id; ?>">
                        <p><strong><?= $order->created_at; ?></strong> - <small><?= $order->payment_reference; ?></small></p>
                        <select class="form-control" data-orderid="<?= $order->id; ?>">
                            <?php foreach ($order->getStatusOptions() as $key => $value) { ?>
                                <option <?= $order->status == $key ? 'selected' : ''; ?> value="<?= $key; ?>"><?= $value; ?></option>
                            <?php } ?>
                        </select>
                        <ul class="items">
                            <?php foreach ($order->getItems() as $item) { ?>
                                <li><?= $item->name; ?></li>
                            <?php } ?>
                        </ul>
                        <?php if ($order->notes) echo "<p>{$order->notes}</p>"; ?>
                    </div>
                <?php } ?>
            </div>
        </div>
    <?php } ?>
</div>

<style>
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.booking {
    background-color: white;
    padding: 2rem;
    border: #eee 1px solid;
    margin-bottom: 2rem;
}
.booking h3 {
    margin-top: 0;
}
.order select {
    margin-bottom: 1rem;
}
</style>

<script src="https://js.pusher.com/6.0/pusher.min.js"></script>
<script>

var statuses = [<?php foreach ($statuses as $status) { echo '"' . $status . '",'; } ?>];

// Enable pusher logging - don't include this in production
Pusher.logToConsole = true;

var pusher = new Pusher("<?= $pusher_key; ?>", {
    cluster: 'eu'
});

var channel = pusher.subscribe('orders');
channel.bind('created', function(data) {
    if (data) {
        $.request('onNewOrder', {
            data: {'order_id' : data},
            success: function(result) {
                var orders = document.getElementById('orders');
                var booking = document.querySelector('.booking[data-bookingid="' + result.booking_id + '"]');
                if (!booking) {

                    var booking = document.createElement('div');
                    booking.classList.add('booking');
                    booking.dataset.bookingid = result.booking_id;

                    var header = document.createElement('h3');
                    header.innerHTML = result.booking_name + " - " + result.table_name;

                    var grid = document.createElement('grid');
                    grid.classList.add('grid');

                    grid.appendChild(buildOrder(result));

                    booking.appendChild(header);
                    booking.appendChild(grid);

                    orders.prepend(booking);

                }
                else {
                    booking.querySelector('.grid').prepend(buildOrder(result));
                }
            }
        });
    }
});

var change_status = document.querySelectorAll('#orders .order select');
for (var i = 0; i < change_status.length; i++) {
    change_status[i].addEventListener('change', updateStatus);
}

function buildOrder(order) {

    var container = document.createElement('div');
    container.classList.add('order');
    container.dataset.orderid = order.id;

    var header = document.createElement('p');
    header.innerHTML = "<strong>" + order.created_at + "</strong> - <small>" + order.payment_reference + "</small>";

    var status = document.createElement('select');
    status.classList.add('form-control');
    status.dataset.orderid = order.id;
    status.addEventListener('change', updateStatus);
    for (var i = 0; i < statuses.length; i++) {
        var option = document.createElement('option');
        option.value = i;
        option.innerHTML = statuses[i];
        if (i == order.status) option.selected = true;
        status.appendChild(option);
    }

    var items = document.createElement('ul');
    for (var i = 0; i < order.items.length; i++) {
        var item = document.createElement('li');
        item.innerHTML = order.items[i].name;
        items.appendChild(item);
    }

    var notes = document.createElement('p');
    notes.innerHTML = order.notes;

    container.appendChild(header);
    container.appendChild(status);
    container.appendChild(items);
    container.appendChild(notes);

    return container;

}

var buttons = document.querySelectorAll('#orders .order .buttons a');
for (var i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener('click', updateStatus);
}

function updateStatus(event, element) {
    var order_id = this.dataset.orderid;
    var status   = this.options[this.selectedIndex].value;
    $.request('onUpdateStatus', {
        data: {'order_id': order_id, 'status': status},
        success: function(result) {
            var order = document.querySelector('#orders .order[data-orderid="' + result.id + '"]');
            if (result.status == 4) {
                var booking = order.closest('.booking');
                order.remove();
                var other_orders = booking.querySelectorAll('.order');
                if (!(other_orders > 0)) booking.remove();
            }
            else {
                // while the user will do this, what about if two people are using two computers?
                order.querySelector('select').value = result.status;
            }
        }
    });
}
</script>